
body {
    background-color: #E4A08D; 
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
}


.macaco {
    background-color: white;
    width: 300px;
    margin: 20px auto; 
    padding: 20px;
    border-radius: 15px; 
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}


.juliana {
    width: 200px;     
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover; 
}


.preco {
    color: #d18b7a;
    font-size: 20px;
}

.botao-finalizar {
    background-color: #E4A08D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.botao-finalizar:hover {
    background-color: #969696; 
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}